<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border">
    <div class="container-fluid">
        <a class="navbar-brand fs-2" routerLink="/">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-auto m-2" *ngFor="let option of navigation_options; index as i">
                    <a class="nav-link fs-5" [ngClass]="{
                        'active' : option.isActive}" [routerLink]=option.link (click)="toggle(i)">
                        {{option.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>