<div class="m-3 p-3 my-4 bg-white rounded-2 shadow-lg">
    <div class="">
        <h4 class="form-group">To Add Image</h4>
        <label for="new-image" class="d-inline-block">Paste Image URL: </label>
        <input id="new-image" class="form-control mt-1 mb-3" value="https://picsum.photos/300/300" #imageurl />
        <button class="btn btn-dark text-center me-1 my-1 d-block" (click)="addimage(imageurl.value); 
                    imageurl.value = ''">
            Add Image by URL
        </button>
    </div>
</div>

